{% extends "base.html" %}


{% block content %}

	<div class='row'>

		{% if request.GET.q %}
	<div class='container'>
		<div class='col-12 mb-5 py-3'>Result for <b>{{ request.GET.q }}</b>
		</div>
	</div>

		{% else %}
		<div class='col-12 col-md-8 mx-auto'>
			{% include "search/snippets/search-form.html" %}
		</div>

		{% endif %}
	</div>





<div class='container'>
	<div class='row'>

		{% for obj in object_list %}
			<div class='col'>


			{% include 'products/snippets/card.html' with instance=obj %}


			{% if forloop.counter|divisibleby:4 %}
			</div></div><div class='row'><div class='col-12'></hr></div>

			{% else %}
			</div>
			{% endif %}



	 	{% endfor %}
 </div>
</div>

{% endblock %}
